<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>

<body>

    <h1>Welcome to text analyzer .Please Enter your text</h1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="width: 655px;
height: 113px;"" placeholder=" Enter your Text"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <button type="submit">Analyze Test</button>
    </form>



</body>

</html>